In [20]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as Rectangle
import datetime as dt
import seaborn as sns

In [13]:
df_D= pd.read_csv('../../C05/Data/D.csv')
df_DUK= pd.read_csv('../../C05/Data/DUK.csv')
df_EXC= pd.read_csv('../../C05/Data/EXC.csv')
df_NEE= pd.read_csv('../../C05/Data/NEE.csv')
df_SO= pd.read_csv('../../C05/Data/SO.csv')


df_D["Datafreme"] = "D"
df_DUK["Datafreme"] = "DUK"
df_EXC["Datafreme"] = "EXC"
df_NEE["Datafreme"] = "NEE"
df_SO["Datafreme"] = "SO"

df = [df_D,df_DUK,df_EXC,df_NEE,df_SO]

In [15]:
df_final = pd.concat(df)
df_final

,Date,Open,High,Low,Close,Adj Close,Volume,Datafreme
0,2014-07-28,69.750000,71.059998,69.750000,70.879997,57.963978,1806400,D
1,2014-07-29,70.669998,70.980003,69.930000,69.930000,57.187099,2231100,D
2,2014-07-30,70.000000,70.660004,68.400002,68.970001,56.402020,2588900,D
3,2014-07-31,68.629997,68.849998,67.580002,67.639999,55.314388,3266900,D
4,2014-08-01,67.330002,68.410004,67.220001,67.589996,55.273487,2601800,D
...,...,...,...,...,...,...,...,...
1254,2019-07-22,55.400002,55.610001,54.869999,55.480000,55.480000,4623300,SO
1255,2019-07-23,55.500000,55.619999,55.009998,55.419998,55.419998,3023300,SO
1256,2019-07-24,55.459999,55.669998,55.099998,55.639999,55.639999,3613900,SO
1257,2019-07-25,55.540001,55.810001,55.250000,55.360001,55.360001,3280900,SO
1258,2019-07-26,55.340000,55.830002,55.200001,55.740002,55.740002,2288700,SO

In [17]:
df_final["Volatility"] = (df_final["High"] - df_final["Low"])/ df_final["Open"]

df_final["Return index"] = (df_final["Close"] / df_final["Open"])-1 


df_final

,Date,Open,High,Low,Close,Adj Close,Volume,Datafreme,Volatility,Return index
0,2014-07-28,69.750000,71.059998,69.750000,70.879997,57.963978,1806400,D,0.018781,0.016201
1,2014-07-29,70.669998,70.980003,69.930000,69.930000,57.187099,2231100,D,0.014858,-0.010471
2,2014-07-30,70.000000,70.660004,68.400002,68.970001,56.402020,2588900,D,0.032286,-0.014714
3,2014-07-31,68.629997,68.849998,67.580002,67.639999,55.314388,3266900,D,0.018505,-0.014425
4,2014-08-01,67.330002,68.410004,67.220001,67.589996,55.273487,2601800,D,0.017674,0.003861
...,...,...,...,...,...,...,...,...,...,...
1254,2019-07-22,55.400002,55.610001,54.869999,55.480000,55.480000,4623300,SO,0.013357,0.001444
1255,2019-07-23,55.500000,55.619999,55.009998,55.419998,55.419998,3023300,SO,0.010991,-0.001441
1256,2019-07-24,55.459999,55.669998,55.099998,55.639999,55.639999,3613900,SO,0.010278,0.003246
1257,2019-07-25,55.540001,55.810001,55.250000,55.360001,55.360001,3280900,SO,0.010083,-0.003241
1258,2019-07-26,55.340000,55.830002,55.200001,55.740002,55.740002,2288700,SO,0.011384,0.007228

In [27]:
sns.histplot(y=df_final["Volatility"], x= df_final["Date"], hue= df_final["Datafreme"], multiple= "stack")

:

: