In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as Rectangle

In [38]:
df = pd.read_csv('../../C03/Data/raw/data_kaggle.csv')

In [39]:
df.sample(5)

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
30979,"Sri Petaling, Kuala Lumpur","RM 540,000",3,2.0,2.0,Condominium (EndLot),Land area : 2034 sq. ft.,Fully Furnished
29607,"Taman Tun Dr Ismail, Kuala Lumpur","RM 5,350,000",8,6.0,NaN,Bungalow,Land area : 7188 sq. ft.,NaN
13512,"Jalan Klang Lama (Old Klang Road), Kuala Lumpur","RM 2,000,000",4+1,5.0,4.0,Condominium,"Built-up : 3,809 sq. ft.",NaN
9421,"Jalan Kuching, Kuala Lumpur","RM 360,000",3,2.0,1.0,Apartment (Corner),"Built-up : 1,221 sq. ft.",Partly Furnished
49825,"Kepong, Kuala Lumpur","RM 720,000",4,3.0,1.0,Condominium,"Built-up : 1,400 sq. ft.",NaN

In [40]:
df.tail(10)

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
53873,"Kepong, Kuala Lumpur","RM 499,000",3,2.0,NaN,1-sty Terrace/Link House (Intermediate),Land area : 22x65 sq. ft.,Unfurnished
53874,"Batu Caves, Kuala Lumpur","RM 480,000",3,2.0,NaN,Condominium (Intermediate),"Built-up : 1,092 sq. ft.",Partly Furnished
53875,"Jalan Klang Lama (Old Klang Road), Kuala Lumpur","RM 475,000",3,2.0,NaN,Serviced Residence (Intermediate),Built-up : 852 sq. ft.,Partly Furnished
53876,"Sri Hartamas, Kuala Lumpur","RM 2,700,000",4+2,6.0,3.0,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished
53877,"Mont Kiara, Kuala Lumpur","RM 6,500,000",5+1,6.0,NaN,Bungalow (Corner),Land area : 6500 sq. ft.,Partly Furnished
53878,"Bangsar, Kuala Lumpur","RM 5,100,000",5+1,4.0,NaN,Bungalow (Corner),Land area : 7168 sq. ft.,Fully Furnished
53879,"Bangsar, Kuala Lumpur","RM 5,000,000",5,4.0,NaN,Bungalow (Intermediate),Land area : 15000 sq. ft.,Unfurnished
53880,"Bangsar, Kuala Lumpur","RM 5,500,000",5+1,4.0,NaN,Bungalow (Intermediate),Land area : 7168 sq. ft.,Partly Furnished
53881,"Wangsa Maju, Kuala Lumpur","RM 480,000",3,2.0,NaN,Condominium (Intermediate),"Built-up : 1,150 sq. ft.",Unfurnished
53882,"Setapak, Kuala Lumpur","RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished

In [41]:
df.head(100)

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished
...,...,...,...,...,...,...,...,...
95,"KLCC, Kuala Lumpur","RM 2,300,000",1,1.0,2.0,Serviced Residence (Intermediate),"Built-up : 1,046 sq. ft.",Partly Furnished
96,"Taman Tun Dr Ismail, Kuala Lumpur","RM 4,995,000",5+1,7.0,6.0,Bungalow,Land area : 8113 sq. ft.,Partly Furnished
97,"Taman Tun Dr Ismail, Kuala Lumpur","RM 1,630,000",4,3.0,2.0,2-sty Terrace/Link House (Intermediate),Land area : 22x80 sq. ft.,Partly Furnished
98,"Mont Kiara, Kuala Lumpur","RM 1,850,000",4+1,4.0,2.0,Condominium,"Built-up : 1,830 sq. ft.",Partly Furnished
99,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Valores Faltantes

In [42]:
df.dropna()

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished
5,"Taman Tun Dr Ismail, Kuala Lumpur","RM 5,350,000",4+2,5.0,4.0,Bungalow,Land area : 7200 sq. ft.,Partly Furnished
7,"Taman Tun Dr Ismail, Kuala Lumpur","RM 2,600,000",5,4.0,4.0,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished
...,...,...,...,...,...,...,...,...
53862,"Seputeh, Kuala Lumpur","RM 750,000",3,2.0,1.0,Condominium,Built-up : 915 sq. ft.,Partly Furnished
53868,"KL Sentral, Kuala Lumpur","RM 1,400,000",3+1,3.0,2.0,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished
53869,"KL Eco City, Kuala Lumpur","RM 880,000",1,1.0,1.0,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished
53876,"Sri Hartamas, Kuala Lumpur","RM 2,700,000",4+2,6.0,3.0,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished
53882,"Setapak, Kuala Lumpur","RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished

In [43]:
df.fillna(0)

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,0.0,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",0,0,0.0,0.0,0,0,0
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished
...,...,...,...,...,...,...,...,...
53878,"Bangsar, Kuala Lumpur","RM 5,100,000",5+1,4.0,0.0,Bungalow (Corner),Land area : 7168 sq. ft.,Fully Furnished
53879,"Bangsar, Kuala Lumpur","RM 5,000,000",5,4.0,0.0,Bungalow (Intermediate),Land area : 15000 sq. ft.,Unfurnished
53880,"Bangsar, Kuala Lumpur","RM 5,500,000",5+1,4.0,0.0,Bungalow (Intermediate),Land area : 7168 sq. ft.,Partly Furnished
53881,"Wangsa Maju, Kuala Lumpur","RM 480,000",3,2.0,0.0,Condominium (Intermediate),"Built-up : 1,150 sq. ft.",Unfurnished
53882,"Setapak, Kuala Lumpur","RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished

## Seleccion de Filas y columnas

In [44]:
print (type(df['Location']),type(def[['Location']]))


display(df['Location'], head(5))

SyntaxError: invalid syntax (3674183017.py, line 1)

In [ ]:
df[['Rooms']]

      Rooms
0       2+1
1         6
2         3
3       NaN
4       4+1
...     ...
53878   5+1
53879     5
53880   5+1
53881     3
53882     4

[53883 rows x 1 columns]

In [ ]:
df.dropna(subset=['Size','Car Parks']) #dropea las filas que tengan NaN en las columnas size y Car parks

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished
5,"Taman Tun Dr Ismail, Kuala Lumpur","RM 5,350,000",4+2,5.0,4.0,Bungalow,Land area : 7200 sq. ft.,Partly Furnished
7,"Taman Tun Dr Ismail, Kuala Lumpur","RM 2,600,000",5,4.0,4.0,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished
...,...,...,...,...,...,...,...,...
53864,"Kuchai Lama, Kuala Lumpur","RM 585,000",3+1,3.0,2.0,Condominium,"Built-up : 1,313 sq. ft.",NaN
53868,"KL Sentral, Kuala Lumpur","RM 1,400,000",3+1,3.0,2.0,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished
53869,"KL Eco City, Kuala Lumpur","RM 880,000",1,1.0,1.0,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished
53876,"Sri Hartamas, Kuala Lumpur","RM 2,700,000",4+2,6.0,3.0,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished
53882,"Setapak, Kuala Lumpur","RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished

In [ ]:
df[['Location','Rooms','Car Parks']] # se pasa una lista como argunmente para seleccionar una lista de columnas

                              Location Rooms
0                   KLCC, Kuala Lumpur   2+1
1      Damansara Heights, Kuala Lumpur     6
2                Dutamas, Kuala Lumpur     3
3                 Cheras, Kuala Lumpur   NaN
4            Bukit Jalil, Kuala Lumpur   4+1
...                                ...   ...
53878            Bangsar, Kuala Lumpur   5+1
53879            Bangsar, Kuala Lumpur     5
53880            Bangsar, Kuala Lumpur   5+1
53881        Wangsa Maju, Kuala Lumpur     3
53882            Setapak, Kuala Lumpur     4

[53883 rows x 2 columns]

In [ ]:
#primero, las filas a seleccionar como arg. Seg arg columnas a seleccionar. Para este caso selcciona todas las filas y columnas
df.loc[:,:]

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished
...,...,...,...,...,...,...,...,...
53878,"Bangsar, Kuala Lumpur","RM 5,100,000",5+1,4.0,NaN,Bungalow (Corner),Land area : 7168 sq. ft.,Fully Furnished
53879,"Bangsar, Kuala Lumpur","RM 5,000,000",5,4.0,NaN,Bungalow (Intermediate),Land area : 15000 sq. ft.,Unfurnished
53880,"Bangsar, Kuala Lumpur","RM 5,500,000",5+1,4.0,NaN,Bungalow (Intermediate),Land area : 7168 sq. ft.,Partly Furnished
53881,"Wangsa Maju, Kuala Lumpur","RM 480,000",3,2.0,NaN,Condominium (Intermediate),"Built-up : 1,150 sq. ft.",Unfurnished
53882,"Setapak, Kuala Lumpur","RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished

In [ ]:
#Selecciona las filas de la 10 a la 15 y todas las columnas
df.loc[10:15,:]

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
10,"Ampang Hilir, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Taman Tun Dr Ismail, Kuala Lumpur","RM 1,680,000",4,3.0,NaN,2-sty Terrace/Link House (Intermediate),Land area : 22 x 80 sq. ft.,Partly Furnished
12,"Taman Tun Dr Ismail, Kuala Lumpur","RM 1,700,000",3+1,3.0,NaN,2-sty Terrace/Link House (Intermediate),Land area : 1900 sq. ft.,Partly Furnished
13,"Taman Tun Dr Ismail, Kuala Lumpur","RM 4,580,000",6+1,5.0,5.0,Bungalow (Intermediate),Land area : 6000 sq. ft.,Partly Furnished
14,"Bukit Jalil, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"Taman Tun Dr Ismail, Kuala Lumpur","RM 3,100,000",4+1,3.0,NaN,Semi-detached House (Intermediate),Land area : 3600 sq. ft.,Partly Furnished

In [ ]:
#Selecciona las filas de la 10 a la 15 y las col. Location,Rooms,Car Parks. Hace referencia a los nombres, no a las posiciones
df.loc[10:15,['Location','Rooms','Car Parks']]

                             Location Rooms  Car Parks
10         Ampang Hilir, Kuala Lumpur   NaN        NaN
11  Taman Tun Dr Ismail, Kuala Lumpur     4        NaN
12  Taman Tun Dr Ismail, Kuala Lumpur   3+1        NaN
13  Taman Tun Dr Ismail, Kuala Lumpur   6+1        5.0
14          Bukit Jalil, Kuala Lumpur   NaN        NaN
15  Taman Tun Dr Ismail, Kuala Lumpur   4+1        NaN

In [ ]:
# selecciona todas las filas y las columnas respecto a la posicion en el arreglo de 2 dimensiones
df.iloc[10:20,:]

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
10,"Ampang Hilir, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Taman Tun Dr Ismail, Kuala Lumpur","RM 1,680,000",4,3.0,NaN,2-sty Terrace/Link House (Intermediate),Land area : 22 x 80 sq. ft.,Partly Furnished
12,"Taman Tun Dr Ismail, Kuala Lumpur","RM 1,700,000",3+1,3.0,NaN,2-sty Terrace/Link House (Intermediate),Land area : 1900 sq. ft.,Partly Furnished
13,"Taman Tun Dr Ismail, Kuala Lumpur","RM 4,580,000",6+1,5.0,5.0,Bungalow (Intermediate),Land area : 6000 sq. ft.,Partly Furnished
14,"Bukit Jalil, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"Taman Tun Dr Ismail, Kuala Lumpur","RM 3,100,000",4+1,3.0,NaN,Semi-detached House (Intermediate),Land area : 3600 sq. ft.,Partly Furnished
16,"Bukit Tunku (Kenny Hills), Kuala Lumpur","RM 9,000,000",6+1,7.0,4.0,Bungalow (Corner),Land area : 8500 sq. ft.,Partly Furnished
17,"Damansara Heights, Kuala Lumpur","RM 4,500,000",5+1,7.0,NaN,Bungalow (Corner),"Built-up : 4,842 sq. ft.",Partly Furnished
18,"Mont Kiara, Kuala Lumpur","RM 1,780,000",4+1,4.0,2.0,Condominium (Corner),"Built-up : 1,830 sq. ft.",Partly Furnished
19,"Mont Kiara, Kuala Lumpur","RM 3,450,000",4+1,6.0,3.0,Condominium (Corner),"Built-up : 3,720 sq. ft.",Fully Furnished

In [ ]:
muestra = df.sample(10)
muestra.head(10)

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
34172,"Mont Kiara, Kuala Lumpur","RM 2,800,000",4+2,6.0,NaN,Condominium (Corner),"Built-up : 4,200 sq. ft.",Partly Furnished
49773,"Bangsar, Kuala Lumpur","RM 2,200,000",3+1,3.0,NaN,Serviced Residence (Intermediate),"Built-up : 2,027 sq. ft.",Partly Furnished
9043,"Jalan Klang Lama (Old Klang Road), Kuala Lumpur","RM 610,000",2,2.0,1.0,Serviced Residence (Intermediate),Built-up : 911 sq. ft.,Partly Furnished
21244,"Bangsar, Kuala Lumpur","RM 1,998,000",3+1,3.0,NaN,2-sty Terrace/Link House (Intermediate),Land area : 22x85 sq. ft.,Partly Furnished
10727,"Desa ParkCity, Kuala Lumpur","RM 2,450,000",4,3.0,NaN,3-sty Terrace/Link House (Intermediate),Land area : 1650 sq. ft.,Partly Furnished
20201,"Jalan Klang Lama (Old Klang Road), Kuala Lumpur","RM 1,550,000",3+1,4.0,4.0,Condominium (Corner),"Built-up : 2,638 sq. ft.",Partly Furnished
30192,"Cheras, Kuala Lumpur","RM 1,000,000",4+1,4.0,2.0,Condominium,"Built-up : 1,608 sq. ft.",Partly Furnished
48878,"Bangsar, Kuala Lumpur","RM 6,500,000",6,5.0,4.0,Bungalow (Corner),Land area : 6500 sq. ft.,Partly Furnished
24734,"Bangsar, Kuala Lumpur","RM 2,200,000",3+1,3.0,1.0,Condominium,"Built-up : 1,965 sq. ft.",Partly Furnished
25054,"Ampang, Kuala Lumpur","RM 1,200,000",4,3.0,NaN,2-sty Terrace/Link House (Intermediate),"Built-up : 2,200 sq. ft.",NaN

In [45]:
#Tira error porque no encuentra el '0' en la col de indice
muestra.loc[0:10,:]

KeyError: 0

In [46]:
muestra.iloc[0:10,:]

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
34172,"Mont Kiara, Kuala Lumpur","RM 2,800,000",4+2,6.0,NaN,Condominium (Corner),"Built-up : 4,200 sq. ft.",Partly Furnished
49773,"Bangsar, Kuala Lumpur","RM 2,200,000",3+1,3.0,NaN,Serviced Residence (Intermediate),"Built-up : 2,027 sq. ft.",Partly Furnished
9043,"Jalan Klang Lama (Old Klang Road), Kuala Lumpur","RM 610,000",2,2.0,1.0,Serviced Residence (Intermediate),Built-up : 911 sq. ft.,Partly Furnished
21244,"Bangsar, Kuala Lumpur","RM 1,998,000",3+1,3.0,NaN,2-sty Terrace/Link House (Intermediate),Land area : 22x85 sq. ft.,Partly Furnished
10727,"Desa ParkCity, Kuala Lumpur","RM 2,450,000",4,3.0,NaN,3-sty Terrace/Link House (Intermediate),Land area : 1650 sq. ft.,Partly Furnished
20201,"Jalan Klang Lama (Old Klang Road), Kuala Lumpur","RM 1,550,000",3+1,4.0,4.0,Condominium (Corner),"Built-up : 2,638 sq. ft.",Partly Furnished
30192,"Cheras, Kuala Lumpur","RM 1,000,000",4+1,4.0,2.0,Condominium,"Built-up : 1,608 sq. ft.",Partly Furnished
48878,"Bangsar, Kuala Lumpur","RM 6,500,000",6,5.0,4.0,Bungalow (Corner),Land area : 6500 sq. ft.,Partly Furnished
24734,"Bangsar, Kuala Lumpur","RM 2,200,000",3+1,3.0,1.0,Condominium,"Built-up : 1,965 sq. ft.",Partly Furnished
25054,"Ampang, Kuala Lumpur","RM 1,200,000",4,3.0,NaN,2-sty Terrace/Link House (Intermediate),"Built-up : 2,200 sq. ft.",NaN

## Modificacion de variables

In [48]:
df_copy= df.copy()

In [50]:
df_copy['Bathrooms'] +1

0        4.0
1        8.0
2        5.0
3        NaN
4        4.0
        ...
53878    5.0
53879    5.0
53880    5.0
53881    3.0
53882    3.0
Name: Bathrooms, Length: 53883, dtype: float64

In [ ]:
muestra = df_copy.sample(10).copy()